body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: white;
    color: #e86b85;
}

.navbar {
    background-color: #e86b85;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

.navbar a:hover {
    text-decoration: underline;
}

.navbar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.container {
    text-align: center;
    padding: 50px;
}

.container h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.form-group {
    margin: 20px 0;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 300px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: #ededed;
}

.form-group input[type="file"] {
    width: 320px;
}

.form-group input[type="submit"] {
    background-color: #e86b85;
    color: white;
    cursor: pointer;
    width: 150px;
}

.form-group input[type="submit"]:hover {
    background-color: #3B5BD6;
}

.form-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.form-column {
    flex: 1;
    min-width: 300px;
    max-width: 400px;
    padding: 10px;
}