*{
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    color: rgb(136, 42, 165);
    text-align: center;
    box-sizing: border-box;
    text-decoration: solid;
    list-style: none;
    background-color: rgb(236, 229, 235);
}

header{
    display: flex;
}
.logo{
    display: flex;
    overflow: hidden;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 15px;
    margin-bottom: 15px;
    }
.logo img{
    width: 300px;
    border-radius: 15px;
}
.titulo{
    text-align: center;
}
.titulo h1{
    font-size: 75px;
    line-height: 8opx;
    text-transform: uppercase;
    margin-bottom: 35px;
}

nav ul {
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;   
}
nav li{
    display: inline-flex;
}
nav a{
    font-weight: 600;
    padding: 20px;
    width: 150px;
}
nav ul a:hover{
    background-color:rgb(202, 147, 209)

}
.contenido{
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 50px;
}
.contenido .articulo{
    width: 70%;
    margin: auto;
}
.contenido .articulo div{
    width: 90%;
    padding: 15px;
    background-color: plum;
    border-radius: 15px;
    margin-bottom: 15px;
}
.contenido .articulo img{
    width: 200px;
    border-radius: 15px;
}
.contenido .secundario{
    width: 30%;
}
.contenido .secundario img{
    width: 200px;
    border-radius: 15px;
}
.contenido .secundario p{
     border-radius: 15px;
     padding: 20px;
     height: 600px;
}
.piedepaguna{
    
}