<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PRUEVA</title>
    <link rel="stylesheet" href="/src/public/css/style.css">
</head>

<body>
    <header>
        <Nav>
            <ul>
                <li><a href="inicio.html">Inicio de sesion</a></li>
                <li><a href="carrito.html">carrito</a></li>
                <li><a href="perfil.html">Perfil</a></li>
            </ul>
        </Nav>
    </header>
    
    <div class="logo">
        <img src="/src/public/assets/logo.jpeg" alt="logo de la compañia">
        <h1>TIENDA DE MAQUILLAJE</h1>
    </div>
    <div class="carrucel">
        <ul>
            <li><img src="/src/public/assets/ima1.jpeg" alt=""width="200px" height="200px"></li>
            <li><img src="/src/public/assets/img2.jpeg" alt=""width="200px" height="200px"></li>
            <li><img src="/src/public/assets/img3.jpeg" alt=""width="200px" height="200px"></li>
            <li><img src="/src/public/assets/img4.jpg" alt=""width="200px" height="200px"></li>
        </ul>
    </div>
    <div class="parrafo">
    <p>En nuestra tienda de maquillaje makeup glow, encontraras productos de maquillaje que realzaran tú
        belleza y cuidara de tu piel.</p>
    </div>
    
    <div class="contenido">
        <div class="articulo">
            <div>
                <h2><a href="/src/views/ojos.html">Ojos</h2>
                <img src="/src/public/assets/ojos.jpeg" alt="" height="200" width="300">
            </div>
            <div>
                <h2><a href="/src/views/labios.html">Labios</a></h2>
                <img src="/src/public/assets/labios.jpeg" alt="" height="200" width="300">
            </div>
            <div>
                <h2> <a href="/src/views/cuidadoFacial.html">Cuidado Facial</a></h2>
                <img src="/src/public/assets/rostro.jpeg" alt="" height="200" width="300">
            </div>
            <div>
                <h2><a href="/src/views/cejas.html">Cejas</a></h2>
                <img src="/src/public/assets/cejas.jpeg" alt="" height="200" width="300">
            </div>
            <div>
                <h2><a href="/src/views/brochas.html">Brochas</a></h2>
                <img src="/src/public/assets/brocha.jpeg" alt="" height="200" width="300">
            </div>
        </div>
    
    </div>
    <div class="piedepaguina">
        <div class="wpp">
        <div>
            <a href="https://wa.me/1234567890" target="_blank">
                <img class="boton" src="/src/public/assets/wpp.jpeg" alt="escribenos" title="escribenos">
                
            </a>
        </div>

        <div>
            <a href="carrito.html">
                <img src="/src/public/assets/carrito1.png" alt="carrito" title="carrito">
    
            </a>
        </div>
    </div>
    </div>
</body>
</html>