<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="/src/public/css/sesion.css">
</head>

<body>
    <div class="container">
        <div class="tabs">
            <button class="active">Iniciar Sesión</button>
            <a href="registrarse.html"><button>Registrar</button></a>
        </div>
        <div class="social-icons">
            <a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="google"><i class="fab fa-google"></i></a>
        </div>
        <div class="form-group">
            <label for="username">Nombre de Usuario</label>
            <input type="text" id="username" placeholder="Nombre de Usuario">
        </div>
        <div class="form-group">
            <label for="password">Contraseña</label>
            <input type="password" id="password" placeholder="Contraseña">
        </div>
        <div class="form-group remember">
            <input type="checkbox" id="remember">
            <label for="remember">Recordar Contraseña</label>
        </div>
        <a href="index1.html"><button class="btn-submit">Entrar</button></a>
    </div>
    <script src="/src/models/sesion.js"></script>
</body>

</html>
