body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ffe6e6;
    font-family: Arial, sans-serif;
}
.container {
    background-color: #ffe6e6;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    color: rgb(0, 0, 0);
}
.container h1 {
    font-size: 24px;
    margin-bottom: 20px;
}
.container label {
    display: block;
    text-align: left;
    margin: 10px 0 5px;
}
.container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #c9c4c4;
    border-radius: 5px;
}
.container button {
    width: 60%; /* 40% menos ancho */
    padding: 10px;
    margin: 10px auto; /* Centrar el botón */
    border: none;
    border-radius: 20px; /* Más redondeado */
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-size: 16px;
    cursor: pointer;
    display: block; /* Asegurar que el botón se centre */
}
.container .divider {
    margin: 20px auto; /* Centrar la línea */
    border-bottom: 1px dashed white;
    width: 110%; /* 10% más ancho */
}
.container .social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid white;
    border-radius: 20px; /* Bordes más redondeados */
    color: white;
    text-decoration: none;
    font-size: 16px;
}
.container .social-button i {
    margin-right: 10px;
}
.container .google {
    background-color: #5548e3;
}
.container .facebook {
    background-color: #3B5998;
}
.container .apple {
    background-color: #6f6f6f;
}