header {
    display: flex;
    height: 100px;
    background-color: rgb(235, 149, 213);
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: aliceblue;
}

/* *{
   padding: 0;
   margin: 0;
   text-transform: uppercase;
   color: rgb(136, 42, 165);
   text-decoration: solid;
   text-align: center;
   background-color: rgb(236, 229, 235);
} */


.logo{
    display: flex;
    overflow: hidden;
    border-radius: 150px;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 15px;
    margin-bottom: 15px;
   

    }
.logo img{
    width: 300px;
    border-radius: 150px;
    background-color: rgb(235, 149, 213);
}
.logo h1{
    text-align: center;
}
.logo h1{
    font-size: 65px;
    line-height: 8opx;
    text-transform: uppercase;
    margin-bottom: 35px;
    color:  rgb(235, 149, 213);
}

nav ul {
    padding: 80px;
    display: flex;
  
}
nav li{
    display: inline-flex;
    
}
nav a{
    /* font-weight: 600; */
    padding: 20px;
    width: 150px;
    text-decoration: none;
}
nav ul a:hover{
    background-color:rgb(202, 147, 209)

}
.carrucel{
    width: 1280px;
    height: auto;
    margin: 50px auto 0;
    animation: slide 15s infinite alternate ease-in-out  ;
}
.carrucel ul{
  display: flex;
  padding: 0;
 
 
}
.carrucel li{
    width: 100%;
    list-style: none;

}
.carrucel img{
    width: 100%;
}
@keyframes slide{
    0% { margin-left: 0%;}
    20% { margin-left: 0%;}

    25% { margin-left: -100%;}
    30% { margin-left: -100%;}

    35% { margin-left: -200%;}
    40% { margin-left: -200%;}

   
}
.parrafo{
    text-align: center;
}
.parrafo p{
    font-size: 55px;
    line-height: 65px;
    text-transform: uppercase;
    margin-bottom: 25px;
    color:  rgb(235, 149, 213);
}
.contenido{
    /* display: flex;
    width: 80%;
    margin: auto;
    margin-top: 50px; */

    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.contenido .articulo{
    height: auto;
    display: flex;
    padding: 10px;
    border-radius: 15px;
    text-align: center;  
}

.contenido .articulo div{
    padding: 15px;
    background-color: plum;
    border-radius: 15px;
    margin-bottom: 15px;
    
}
.articulo a{
   text-decoration: none;
   text-transform: uppercase;
   color: blueviolet;
}

.contenido .articulo img{
    max-width: 100%;
    height: auto;
}


.piedepaguina{
    display: flex;
    justify-content: center;
}
.piedepaguina .wpp{
    display: flex;    
}
.piedepaguina .wpp img{
  width: 200px;
  height:200px;
  margin-right: 25px;
  border-radius: 100px;    
}