<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/inicio.css">

</head>

<body>
    <br><br><br><br>
    <div class="header">
        <img alt="MAKEUP GLOW" src="img/logo.jpeg"/>
    </div>
    <div class="content">
        <h2>
            MAKEUP GLOW
        </h2>
        <p>
            Seleccione el sistema al que desea ingresar:
        </p>
        <div class="card">
            <img alt="Icon representing an animated person" height="52.5"
                src="https://storage.googleapis.com/a1aa/image/ykhHpmQr3baEH16VoxgLy5lT4rrASZbLoa0PjcLDdlggc86E.jpg"
                width="52.5" />
            <h3>
                Inicia Sesión
            </h3>
            <p>
                Seleccione el tipo de usuario:
            </p>
            <select id="userType">
                <option>
                    Seleccionar
                </option>
                <option>
                    Propietario
                </option>
                <option>
                    Cliente
                </option>
            </select>
            <button onclick="navigate()">
                Ingresar
            </button>
        </div>
    </div>

    <script src="js/inicio.js"></script>
</body>

</html>